<div class="sidebar">
  <div class="genre-title">
    <h4>ジャンル検索</h4>
  </div>
  <% genres.each do |genre| %>
    <%= link_to genre_show_path(genre) do %>
      <div class="genre-content">
        <%= genre.name %>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </div>
    <% end %>
  <% end %>
</div>
