<div class="row">
  <% items.each do |item| %>
    <div class="col-xs-3">
      <div class="item-box">
        <%= link_to item_path(item) do %>
          <div class="item-image">
            <%= attachment_image_tag(item, :image, size: '180x120', fallback: "no_image.jpg") %>
          </div>
          <div class="item-name text-center"><%= item.name %></div>
          <div class="item-price text-center">¥<%= (item.price * 110 / 100).to_s(:delimited) %>(税込)</div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>