<div class="alert-errors">
  <% if model.errors.any? %>
    <p>入力項目を正しく入力してください。<p>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
</div>